* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, li, a {
    margin: 0;
    padding: 0;
}

.headbanner {
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header {
    align-items: center;
    padding-top: 15px;
}

.contact {
    display: flex;
    justify-content: right;

}

.phone {
    padding-left: 14px;
    padding-top: 3px;
    padding-right: 32px;
}

.phone p {
    font-family: 'montserrat';
    src: url('montserrat-bold-webfont.woff2') format('woff2'),
        url('montserrat-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-size: 13px;
    color: #3d2514;
    padding-top: 3px;
    padding-right: 17px;

}

.navbar-nav {
    margin-top: -17px;
}

.nav-item {
    padding-right: 14px;
}

.navbar-light .navbar-nav .nav-link {
    color: #3d2514;
    font-family: 'bebas_neue';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 4px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #3d2514;

}

.navbar-light .navbar-nav .nav-link.active {
    color: #3d2514;
}

.img {
    background-image: url(../images/banner-img.png);
    background-position: center;
    background-repeat: no-repeat;

    min-height: 90vh;
    position: relative;
}

.height {
    min-height: 78vh;
}

.bannertext h5 {
    font-family: 'bebas_neue';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: #3d2514;
    letter-spacing: 2px;
    font-size: 17px;
    border: 2px dashed #3d2514;
    padding: 7px;
    width: 380px;
    margin-bottom: 11px;
}

.bannertext h1 {
    font-family: 'alfa_slab_one';
    src: url('alfaslabone-regular-webfont.woff2') format('woff2'),
        url('alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    text-transform: uppercase;
    margin-top: 20px;
    text-shadow: 4px 3px 0px #fee8bc;
    color: #42200b;
}

.bannertext h3 {
    font-family: 'alfa_slab_one';
    src: url('alfaslabone-regular-webfont.woff2') format('woff2'),
        url('alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 4px 3px 0px #fee8bc;
    color: #42200b;
}

.price {

    width: 150px;

    height: 150px;

    border: 2px dashed white;

    border-radius: 50%;

    background-color: #f44336;

    outline: 6px solid #f44336;

    position: absolute;

    left: 52%;

    top: 76%;
}

.price p {

    color: #fff;

    font-size: 62px;

    text-align: center;

    font-family: 'bebas_neue';

    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;
}

.price sub {

    font-size: 22px;
}

.price h6 {

    color: #fff;

    font-size: 31px;

    text-align: center;

    font-family: 'bebas_neue';

    src: url(bebasneue-regular-webfont.woff2) format('woff2'), url(bebasneue-regular-webfont.woff) format('woff');

    font-weight: normal;

    font-style: normal;

    letter-spacing: 10px;

    margin-top: -24px;

    padding-left: 10px;
}

.mostpopular {
    margin-top: 55px;
    margin-bottom: 40px;
}

.img_text {

    position: relative;
}

.text h4 {

    font-family: 'bebas_neue';

    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

    color: #fff;
}

.text h1 {

    font-family: 'bebas_neue';

    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

    color: #fff;
}

.image {}

.text {

    position: absolute;

    left: 6%;

    top: 6%;
}

.morefun {}

.fun {
    position: relative;
}

.morefuntext {
    position: absolute;
    left: 6%;
    top: 6%;
}

.morefuntext h4 {

    font-family: 'bebas_neue';

    src: url(bebasneue-regular-webfont.woff2) format('woff2'), url(bebasneue-regular-webfont.woff) format('woff');

    font-weight: normal;

    font-style: normal;

    color: #fff;

    font-size: 18px;
}

.morefuntext h1 {

    font-family: 'bebas_neue';

    src: url(bebasneue-regular-webfont.woff2) format('woff2'), url(bebasneue-regular-webfont.woff) format('woff');

    font-weight: normal;

    font-style: normal;

    color: #fff;
}

.fresh {
    position: relative;
    margin-top: 30px;
}

.freshtext {
    position: absolute;
    left: 6%;
    top: 6%;
}

.freshtext h4 {
    font-family: 'bebas_neue';
    src: url(bebasneue-regular-webfont.woff2) format('woff2'), url(bebasneue-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 18px;
}

.freshtext h1 {
    font-family: 'bebas_neue';

    src: url(bebasneue-regular-webfont.woff2) format('woff2'), url(bebasneue-regular-webfont.woff) format('woff');

    font-weight: normal;

    font-style: normal;

    color: #fff;
}

.chooseenjoytext {}

.chooseenjoytext h4 {

    text-transform: uppercase;

    background-color: #ffc045;

    width: 24%;

    margin: auto;

    padding: 5px;

    font-family: 'bebas_neue';

    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

    font-size: 25px;

    letter-spacing: 2px;

    color: #3d2514;
}

.chooseenjoytext h1 {

    font-family: 'alfa_slab_one';

    src: url('alfaslabone-regular-webfont.woff2') format('woff2'),
        url('alfaslabone-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

    margin-top: 25px;

    text-transform: uppercase;

    color: #3d2514;
}

.chooseenjoytext p {

    font-family: 'montserrat';

    src: url('montserrat-black-webfont.woff2') format('woff2'),
        url('montserrat-black-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

    font-size: 16px;

    margin-top: 13px;

    color: #3d2514;
}

.chooseimg {

    text-align: center;
}

.chooseimg h1 {

    font-family: 'bebas_neue';

    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

    color: #3d2514;
}

.chooseimg p {

    color: #3d2514;

    margin-top: 10px;

    font-size: 16px;
}

.chooseimg button {

    padding: 12px 30px;

    font-family: 'alfa_slab_one';

    src: url('alfaslabone-regular-webfont.woff2') format('woff2'),
        url('alfaslabone-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

    margin-top: 12px;

    background-color: red;

    border: none;

    color: #fff;
    transition: .4s all ease-in-out;
}

.maincon {
    padding: 15px 30px;
    box-shadow: -10px 50px 129px rgb(0 0 0 / 24%);


}

.eventtxt {

    padding: 10px 20px;
}

.eventtxt h3 {
    font-family: 'bebas_neue';

    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}

.eventtxt h1 {
    font-family: 'alfa_slab_one';
    src: url('alfaslabone-regular-webfont.woff2') format('woff2'),
        url('alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 14px;
    color: #3d2514;
}

.eventtxt p {
    font-family: 'montserrat';
    src: url('montserrat-black-webfont.woff2') format('woff2'),
        url('montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    width: 450px;
}

.eventimg {}

.owl-dots .owl-dot span {
    display: block;
    height: 10px;
    width: 10px;
    background-color: #dcdcdc;
    border-radius: 50%;
    margin-left: 7px;
}

.owl-dots .active span {
    display: block;
    height: 10px;
    width: 10px;
    background-color: #ffc045;
    border-radius: 50%;
}

.mainform {
    background-image: url(../images/bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 103vh;

}

.footerhead h2 {
    font-family: 'bebas_neue';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: #3d2514;
    padding-bottom: 11px;
    letter-spacing: 4px;
}

.footerhead h1 {
    font-family: 'alfa_slab_one';
    src: url('alfaslabone-regular-webfont.woff2') format('woff2'),
        url('alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: #3d2514;
    padding-bottom: 21px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.contactform {
    width: 66%;
    margin: auto;
}


.leftone input {

    margin: 25px 0;

    padding: 15px;
    box-shadow: 0px 0px 1px 0px;
}

.leftone input:focus {

    outline: none;
    box-shadow: none;
}

.leftone input::placeholder {
    font-family: 'bebas_neue';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.rightone {}

.rightone input {

    margin: 25px 0;

    padding: 15px;
    box-shadow: 0px 0px 1px 0px;
}

.rightone input:focus {
    box-shadow: none;
    outline: none;
}

.rightone input::placeholder {
    font-family: 'bebas_neue';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.rightone input[type="submit"] {

    margin-top: 0px;

    width: 100%;

    background-color: red;

    border: none;

    color: #fff;
    font-family: 'alfa_slab_one';
    src: url('alfaslabone-regular-webfont.woff2') format('woff2'),
        url('alfaslabone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

.mainfooter {
    background-image: url(../images/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    margin-bottom: 30px;
}

.footerimg img {

    margin-top: 135px;

    margin-left: 20px;
}

.footerimg p {

    color: #fff;

    padding-top: 46px;

    margin-left: 20px;

    font-family: 'montserrat';

    src: url('montserrat-regular-webfont.woff2') format('woff2'),
        url('montserrat-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

    font-size: 15px;
}

.addressmain {

    padding-left: 160px;

    margin-top: 245px;
}

.address {

    margin: auto;
}

.address ul {

    list-style: none;
}

.address ul li {

    color: #fff;

    font-family: 'bebas_neue';

    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

    font-size: 19px;

    letter-spacing: 1px;

    padding-top: 5px;
}

.address ul li i {
    margin-right: 25px;
    font-size: 25px;
}

.ftext {

    margin-top: 65px;

    padding-left: 31px;
}

.ftext p {
    color: #fff;

    font-family: 'bebas_neue';

    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
        url('bebasneue-regular-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;
}

.footericon {

    margin-top: 52px;
}

.footericon ul {

    list-style: none;

    display: flex;

    justify-content: right;
}

.footericon ul li {
    height: 34px;
    width: 34px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 34px;
    margin-left: 17px;
}

.footericon ul li a {

    color: #000;
    font-size: 20px;

    padding-left: 9px;
}